# fly.toml file generated for art-expert-collmach on 2023-04-15T08:38:02+03:00

app = "art-expert-collmach"
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "ams"

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20
